#logo{
    background: #e60012;
    width: 185px;
    height: 170px;
    position: absolute;
    left:100px;
    border-radius: 0 0 2em 2em;
    top: -40px
}

#nin {
    color: white;
    font-family: Lato, serif;
    font-size: 20px;
    width: 130px;
    font-weight: bold;
    border: 4px solid white;
    border-radius: 2em;
    text-align: center;
    margin-top: 90px;
    margin-left: 25px;
}

p{
    margin-top:0;
    margin-bottom:0;
}

#register{
    horiz-align: right;
    width:350px;
    margin-left: 50%;
    margin-top: 20px;
    padding: 5px;
    border-radius: 2em;

}

#bande1{
    width: 100%;
    height: 40px;
    background: white;
}

#bande2{
    width: 100%;
    height: 40px;
    background: #ece6e6;
    border-bottom: 1px solid black;
    margin-right: 20px;
}

ul li{
    display: inline-block;
    font-family: 'Lato', sans-serif;
    background: #ece6e6;
    width: 150px;
    height: 20px;
    float:right;
    text-align: center;
    padding-top: 12.5px;
    padding-bottom: 6px;
    margin-right: 20px;
}

#a1:hover{
    background-color: white;
}
#a2:hover{
    background-color: #CC1b21;
}
#a3:hover{
    background-color: #f77d00;
}
#a4:hover{
    background-color: white;
}
#a5:hover{
    background-color: #FF3F3F;
}
#a6:hover{
    background-color: #00BFF3;
}
#a7:hover{
    background-color: white;
}

#logo:hover{
    animation-name: Animation;
    animation-duration: 1s;
}

@keyframes Animation {
    0% {margin-top: 0}
    50% {margin-top: 20px}
    100% {margin-top: 0}
}

#infos{
    position: absolute;
    font-family: Lato, serif;
    left:1150px;
    top: 30px;
}

.button {
    position: absolute;
    font-family: 'Lato', sans-serif;
    background-color: #e60012;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    left:1270px;
    top:10px;
    border-radius: 0.5em;
}